/* Reset */
html{
	--roboto: "Roboto", system-ui;
	--playfair: "Playfair Display", serif
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-style: var(--roboto);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select {
	font: inherit;
}

img,
picture,
video,
canvas,
svg {
	max-width: 100%;
	display: block;
}
